rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /foundItems/{document} {
      allow read: if true;
      
      allow create: if request.resource.data.itemName is string 
                    && request.resource.data.itemName.size() > 0
                    && request.resource.data.description is string;
                    
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['telegramChatId', 'alertThreshold', 'status', 'telegramAlerts']);
      allow delete: if false;
    }


    match /lostItems/{document} {
      allow read: if true;
      
      allow create: if request.resource.data.itemName is string 
                    && request.resource.data.itemName.size() > 0
                    && request.resource.data.description is string;
                    
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['telegramChatId', 'alertThreshold', 'status', 'telegramAlerts']);
      allow delete: if false;
    }
  }
}